# DEV LOCAL
# export DATABASE_URL="postgres://postgres:postgres@localhost:5432/vats"

# DEV
export DATABASE_URL="postgres://elskcdkemklyrj:452842b5b799b75c774ab2433acd6b0c71ed8b61becc0ea1c460bc424c7b5ba9@ec2-54-247-118-139.eu-west-1.compute.amazonaws.com:5432/d3aqklmviss8gr?schema=development"

